.text-list-message {
    font-size: 12px !important;
    max-width: 98%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-text {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: var(--bs-primary);
    color: var(--white);
}
